IBM/NODE_RED/facebook_node_red.json
[{"id":"a4bb1c54.d0a518","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"507d4d61.2a7ef4","type":"http in","z":"a4bb1c54.d0a518","name":"Messenger verification webhook","url":"/cookbot","method":"get","upload":false,"swaggerDoc":"","x":430,"y":240,"wires":[["d09aee7a.155b6","8a709778.9ff978"]]},{"id":"6618f43f.ec786c","type":"http response","z":"a4bb1c54.d0a518","name":"","statusCode":"","headers":{},"x":868,"y":239,"wires":[]},{"id":"8a709778.9ff978","type":"function","z":"a4bb1c54.d0a518","name":"Get subscribe","func":"var mode = '';\nvar vtoken = '';\nvar challenge = '';\nif (msg.payload['hub.mode']) \n{\n    mode = msg.payload['hub.mode'];\n}\nif (msg.payload['hub.verify_token']) \n{\n    vtoken = msg.payload['hub.verify_token'];\n}\nif (msg.payload['hub.challenge']) \n{\n    challenge = msg.payload['hub.challenge'];\n}\nif ('subscribe' == mode &&\n  'myverifytoken' == vtoken) {\n    msg.payload = challenge;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":693,"y":239,"wires":[["6618f43f.ec786c"]]},{"id":"d09aee7a.155b6","type":"debug","z":"a4bb1c54.d0a518","name":"","active":true,"console":false,"complete":"false","x":683,"y":187,"wires":[]},{"id":"975a179b.c92d98","type":"http in","z":"a4bb1c54.d0a518","name":"Messenger Chat Listener","url":"/cookbot","method":"post","upload":false,"swaggerDoc":"","x":424,"y":373,"wires":[["fcd1f1b0.d8697","b3e169e8.8f8628"]]},{"id":"b3e169e8.8f8628","type":"function","z":"a4bb1c54.d0a518","name":"Look for messages","func":"if (msg.payload.object && 'page' == msg.payload.object) {\n    if (msg.payload.entry){\n        var entry = msg.payload.entry;\n        for (var i = 0; i < entry.length; i++) {\n            var pageID = entry[i].id;\n            var timeOfEvent = entry[i].time; \n            var messaging = entry[i].messaging\n            for (var j =0; j < messaging.length; j++) {\n                if (messaging[j].message) {\n                    msg.messagingEvent = messaging[j];\n                    node.send([msg,null,null]); \n                }\n                if (messaging[j].postback) {\n                    msg.postbackEvent = messaging[j];\n                    node.send([null,msg,null]);\n                }\n            }\n        }\n    }\n}\nreturn [null,null,msg];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":675.5,"y":404,"wires":[["6a9a504b.eb451","9a6d3ed8.0c591","d5313291.a8ba7"],["e75a68b1.b1c9e8","aab2a614.6a9cb8"],["7c654fb2.14802","ebeb7a6d.82be38"]]},{"id":"fcd1f1b0.d8697","type":"debug","z":"a4bb1c54.d0a518","name":"","active":true,"console":false,"complete":"false","x":662.5,"y":329,"wires":[]},{"id":"6a9a504b.eb451","type":"debug","z":"a4bb1c54.d0a518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"messagingEvent","targetType":"msg","x":1054,"y":333,"wires":[]},{"id":"7c654fb2.14802","type":"debug","z":"a4bb1c54.d0a518","name":"","active":true,"console":false,"complete":"false","x":564,"y":533,"wires":[]},{"id":"88795c04.eec39","type":"function","z":"a4bb1c54.d0a518","name":"Facebook input message","func":"msg.fromMessenger = true;\nmsg.payload = msg.messagingEvent.message.text;\nmsg.user = msg.messagingEvent.sender.id;\nmsg.params = {};\nmsg.params.session_id = msg.messagingEvent.sender.id;\n\nmsg.additional_context = {};\nmsg.additional_context.app = {};\nmsg.additional_context.app.img = 'no';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":544,"y":893,"wires":[["1569d1a6.9d576e","98829089.5eb0a"]]},{"id":"a25b08ac.ec6758","type":"link out","z":"a4bb1c54.d0a518","name":"","links":["e4f3bb9d.bf0058"],"x":1149,"y":393,"wires":[]},{"id":"e4f3bb9d.bf0058","type":"link in","z":"a4bb1c54.d0a518","name":"Watson Bot Service","links":["a25b08ac.ec6758","67dba9ff.fe0b68"],"x":349,"y":893,"wires":[["7e2b756.053fb8c","88795c04.eec39"]]},{"id":"c6b76b00.793f48","type":"debug","z":"a4bb1c54.d0a518","name":"","active":true,"console":false,"complete":"false","x":944,"y":833,"wires":[]},{"id":"37094e2b.6415f2","type":"function","z":"a4bb1c54.d0a518","name":"set payload","func":"//node.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\noutput = msg.payload.output.generic[0].text\n//node.warn(\"Cleaned output: \\n\" + output);\nmsg.facebookevent = msg.messagingEvent;\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":984,"y":893,"wires":[["7527a5f9.69e38c","c0bb77f0.db4588"]]},{"id":"9a6d3ed8.0c591","type":"switch","z":"a4bb1c54.d0a518","name":"","property":"messagingEvent.message.text","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1001,"y":393,"wires":[["a25b08ac.ec6758"]]},{"id":"7e2b756.053fb8c","type":"debug","z":"a4bb1c54.d0a518","name":"","active":true,"console":false,"complete":"false","x":528,"y":838,"wires":[]},{"id":"d5313291.a8ba7","type":"switch","z":"a4bb1c54.d0a518","name":"","property":"messagingEvent.message.attachments[0].type","propertyType":"msg","rules":[{"t":"eq","v":"image","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1002,"y":438,"wires":[["68d3e7ef.2be978","89838d12.f0af1"],[]]},{"id":"da428811.488688","type":"comment","z":"a4bb1c54.d0a518","name":"Facebook Webhook Registration","info":"","x":427,"y":159,"wires":[]},{"id":"45db7e96.0babb","type":"comment","z":"a4bb1c54.d0a518","name":"Messenger Listener","info":"","x":404,"y":313,"wires":[]},{"id":"68d3e7ef.2be978","type":"link out","z":"a4bb1c54.d0a518","name":"","links":["817a5759.643718"],"x":1149,"y":433,"wires":[]},{"id":"817a5759.643718","type":"link in","z":"a4bb1c54.d0a518","name":"Image Service","links":["68d3e7ef.2be978","3c5c4d33.7f1e8a"],"x":349,"y":1133,"wires":[["4cb5b0bd.ae7b1"]]},{"id":"c9f727a2.4139b8","type":"comment","z":"a4bb1c54.d0a518","name":"Send message to Watson and reply","info":"","x":454,"y":793,"wires":[]},{"id":"40bf4377.359bdc","type":"comment","z":"a4bb1c54.d0a518","name":"Send image to Google Vision API, return results to Watson","info":"","x":524,"y":1093,"wires":[]},{"id":"1569d1a6.9d576e","type":"watson-assistant-v2","z":"a4bb1c54.d0a518","name":"","service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/22f97025-9f30-471d-8577-140de34c3da9","assistant_id":"b158532b-7d73-4acc-974b-192e59bf1048","debug":true,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":764,"y":893,"wires":[["c6b76b00.793f48","37094e2b.6415f2"]]},{"id":"e75a68b1.b1c9e8","type":"switch","z":"a4bb1c54.d0a518","name":"Get Started","property":"postbackEvent.postback.title","propertyType":"msg","rules":[{"t":"eq","v":"Get Started","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1024,"y":533,"wires":[["8ecfb42.d64bb48"]]},{"id":"4f595bbf.78eb34","type":"link in","z":"a4bb1c54.d0a518","name":"Get Started","links":["8ecfb42.d64bb48"],"x":349,"y":633,"wires":[["960f6ba3.dfc198"]]},{"id":"8ecfb42.d64bb48","type":"link out","z":"a4bb1c54.d0a518","name":"","links":["4f595bbf.78eb34"],"x":1189,"y":533,"wires":[]},{"id":"960f6ba3.dfc198","type":"function","z":"a4bb1c54.d0a518","name":"Get Started","func":"var recipient = msg.payload.entry[0].messaging[0].sender.id\nmsg.payload = {\n  \"recipient\": {\n    \"id\": \"1667077936706757\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"button\",\n        \"text\": \"Welcome to Watson Customer Care Centre\",\n        \"buttons\": [\n          {\n            \"type\": \"web_url\",\n            \"url\": \"https://www.messenger.com\",\n            \"title\": \"Appointment\"\n          },\n          {\n            \"type\": \"web_url\",\n            \"url\": \"https://www.messenger.com\",\n            \"title\": \"Store Locations\"\n          },\n          {\n            \"type\": \"web_url\",\n            \"url\": \"https://www.messenger.com\",\n            \"title\": \"Talk to Agent\"\n          }\n        ]\n      }\n    }\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":494,"y":633,"wires":[["4b532bac.169504"]]},{"id":"4b532bac.169504","type":"http request","z":"a4bb1c54.d0a518","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAAPQooGAZAWwBAO89xKG5Gz9xoZBiZATQXfzmXFEOlQ1j1fLX7C3dZA1FJ7edaxpA1XmpsD7pBiMylzo5iDMqKEHbeXPDi8JchXf2VT17NRxi1sbpaZCX7zDRPqOMiCCoRpLnSpeejVF2ZCvxZCjcHmCFfwDx7P4ZByvrbW3YSSzogZDZD","tls":"","persist":false,"proxy":"","authType":"","x":724,"y":633,"wires":[[]]},{"id":"ebeb7a6d.82be38","type":"http response","z":"a4bb1c54.d0a518","name":"","statusCode":"","headers":{},"x":784,"y":533,"wires":[]},{"id":"aab2a614.6a9cb8","type":"debug","z":"a4bb1c54.d0a518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"postbackEvent","targetType":"msg","x":1054,"y":493,"wires":[]},{"id":"89838d12.f0af1","type":"debug","z":"a4bb1c54.d0a518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1244,"y":453,"wires":[]},{"id":"7527a5f9.69e38c","type":"facebook-messenger-writer","z":"a4bb1c54.d0a518","name":"","x":1214,"y":893,"wires":[[]]},{"id":"53780f78.6e533","type":"google-vision-object-detection","z":"a4bb1c54.d0a518","keyFilename":"C:\\Users\\sasad\\Documents\\ngrok\\cookbot-ml-cba377d3fa34.json","name":"","x":834,"y":1133,"wires":[["b0a12661.599fd8","24e90526.04ffea"]]},{"id":"d6129dc9.0b70c","type":"http request","z":"a4bb1c54.d0a518","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":664,"y":1133,"wires":[["53780f78.6e533"]]},{"id":"b0a12661.599fd8","type":"debug","z":"a4bb1c54.d0a518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":984,"y":1133,"wires":[]},{"id":"4cb5b0bd.ae7b1","type":"function","z":"a4bb1c54.d0a518","name":"set payload","func":"msg.url = msg.messagingEvent.message.attachments[0].payload.url;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":484,"y":1133,"wires":[["d6129dc9.0b70c"]]},{"id":"24e90526.04ffea","type":"function","z":"a4bb1c54.d0a518","name":"Response from Google Vision","func":"msg.fromMessenger = true;\nmsg.payload = msg.payload[0].name;\nmsg.user = msg.messagingEvent.sender.id;\nmsg.params = {};\nmsg.params.session_id = msg.messagingEvent.sender.id;\n\nmsg.additional_context = {};\nmsg.additional_context.app = {};\nmsg.additional_context.app.img = 'yes';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":524,"y":953,"wires":[["1569d1a6.9d576e","5a263341.b02ecc"]]},{"id":"5a263341.b02ecc","type":"debug","z":"a4bb1c54.d0a518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":804,"y":953,"wires":[]},{"id":"98829089.5eb0a","type":"debug","z":"a4bb1c54.d0a518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":734,"y":833,"wires":[]},{"id":"c0bb77f0.db4588","type":"debug","z":"a4bb1c54.d0a518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1200,"y":840,"wires":[]}]