IBM/NODE_RED/flows.json
[{"id":"fe346a7d.1d2088","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7705ac12.d800fc","type":"http in","z":"fe346a7d.1d2088","name":"","url":"/webhook/request","method":"post","upload":false,"swaggerDoc":"","x":150,"y":240,"wires":[["206251be.1e72be","5bc4cba7.3cf6fc"]]},{"id":"3e7d23ee.a11c9c","type":"switch","z":"fe346a7d.1d2088","name":"Recommendation Choice","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"random","vt":"str"},{"t":"eq","v":"ingredients","vt":"str"},{"t":"eq","v":"login","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":300,"wires":[["bf8d3190.049dd8"],["d99aa26d.4e641","a43be373.47944"],["8f28e92f.67b23"]]},{"id":"bf8d3190.049dd8","type":"template","z":"fe346a7d.1d2088","name":"Query: Random","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select re.recipe_name, re.link from recipes re order by rand() fetch first 1 rows only","output":"str","x":780,"y":260,"wires":[["12608761.375151"]]},{"id":"12608761.375151","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"845d656a.850818","service":"_ext_","query":"","params":"","name":"","x":973,"y":260,"wires":[["efe469f1.758a98","7b1c83e5.d3cc4c"]]},{"id":"915fd96c.1c1058","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\":{\"name\":\"{{payload.RECIPE_NAME}}\", \"link\":\"<a href='{{payload.LINK}}'>{{payload.LINK}}</a>\"}}","output":"json","x":1520,"y":220,"wires":[["b8a93edd.bbc3d8","822742e8.809988"]]},{"id":"efe469f1.758a98","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":60,"wires":[]},{"id":"28bf9c21.76fdac","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"845d656a.850818","service":"_ext_","query":"","params":"","name":"","x":1090,"y":340,"wires":[["2fe938e5.ffc8e8","75bf517f.8f49b8"]]},{"id":"2fe938e5.ffc8e8","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1400,"y":460,"wires":[]},{"id":"16d5955d.4d2c2b","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\" : \"I found the following recipes:\\n{{#payload}}<a href='{{{LINK}}}' target='_blank' rel='noopener noreferrer'>{{RECIPE_NAME}}</a></br>{{/payload}}\"}\n","output":"json","x":1540,"y":300,"wires":[["423b3486.26002c","b8a93edd.bbc3d8"]]},{"id":"423b3486.26002c","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1900,"y":260,"wires":[]},{"id":"7b1c83e5.d3cc4c","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1200,"y":100,"wires":[["915fd96c.1c1058"],["fd21ff44.20131"]]},{"id":"fd21ff44.20131","type":"template","z":"fe346a7d.1d2088","name":"Error Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\" : \"Something went wrong\"}","output":"json","x":1520,"y":400,"wires":[["b8a93edd.bbc3d8"]]},{"id":"75bf517f.8f49b8","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1260,"y":340,"wires":[["16d5955d.4d2c2b"],["fd21ff44.20131"]]},{"id":"d99aa26d.4e641","type":"function","z":"fe346a7d.1d2088","name":"","func":"var s = \"'\";\nmsg.payload.parsed = s + msg.payload.ingredients.join(\"', '\") + s;\nmsg.payload.count = msg.payload.ingredients.length;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":340,"wires":[["a9cb943e.1d031","c4641887.56fa6"]]},{"id":"a9cb943e.1d031","type":"template","z":"fe346a7d.1d2088","name":"Query: Ingredients","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select re.recipe_name, re.link from recipes re inner join recipes_ingredients ri \non re.recipe_id = ri.recipe_id inner join ingredients i on ri.ingredient_id = i.ingredient_id \nwhere ingredient_name in ({{{payload.parsed}}}) group by re.recipe_name, re.link having count(distinct ingredient_name) = {{payload.count}};","output":"str","x":890,"y":340,"wires":[["28bf9c21.76fdac","e966be7.5dac14"]]},{"id":"e966be7.5dac14","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":460,"wires":[]},{"id":"43a1eb21.da413c","type":"inject","z":"fe346a7d.1d2088","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":700,"y":140,"wires":[["bf8d3190.049dd8"]]},{"id":"8f28e92f.67b23","type":"template","z":"fe346a7d.1d2088","name":"Query: Login","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT username, user_id, password \nFROM users WHERE username = '{{payload.username}}' AND password = '{{payload.password}}';","output":"str","x":710,"y":560,"wires":[["389bbc21.fade74","c5b3a6d5.61f808"]]},{"id":"389bbc21.fade74","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"845d656a.850818","service":"_ext_","query":"","params":"","name":"","x":930,"y":540,"wires":[["7256ba1a.1b183c","73e8bb18.7320cc"]]},{"id":"7256ba1a.1b183c","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1200,"y":620,"wires":[["4bfe4dac.ce4404"],["fd21ff44.20131"]]},{"id":"4bfe4dac.ce4404","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\": \"You have successfully logged in,  {{payload.USERNAME}}  \",\n\"user_id\": \" {{payload.USER_ID}} \"}","output":"json","x":1560,"y":640,"wires":[["c3574c87.3c2688","b8a93edd.bbc3d8"]]},{"id":"73e8bb18.7320cc","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1030,"y":800,"wires":[]},{"id":"c3574c87.3c2688","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1630,"y":900,"wires":[]},{"id":"c5b3a6d5.61f808","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":700,"wires":[]},{"id":"a43be373.47944","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":460,"wires":[]},{"id":"206251be.1e72be","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":100,"wires":[]},{"id":"c4641887.56fa6","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":460,"wires":[]},{"id":"5bc4cba7.3cf6fc","type":"switch","z":"fe346a7d.1d2088","name":"Recommendation Choice","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"out","vt":"str"},{"t":"eq","v":"in","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":620,"wires":[["3e7d23ee.a11c9c","7f0e4cd4.10df4c"],["9c150a6.c49d1f8","c40472eb.6044e"]]},{"id":"efcf61ce.05e9a","type":"template","z":"fe346a7d.1d2088","name":"Query: Random1","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select us.user_id, us.dairy, us.gluten, re.recipe_name, re.link, re.gluten, re.dairy from users us inner join recipes re \non us.dairy != re.dairy AND us.gluten != re.gluten\nWHERE user_id = {{payload.user_id}} ORDER BY \n    recipe_name DESC\nFETCH FIRST 1 ROWS ONLY;","output":"str","x":921,"y":1117,"wires":[["75c2a18b.e5eb18","434252de.404454"]]},{"id":"75c2a18b.e5eb18","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"845d656a.850818","service":"_ext_","query":"","params":"","name":"","x":1148,"y":1184,"wires":[["e646eea.639bb1","c725ff19.21fd4"]]},{"id":"2dba943d.585eec","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\": \"bruh\" }","output":"json","x":1583,"y":1079,"wires":[["5f39b07f.a03178","62868781.e60568"]]},{"id":"e646eea.639bb1","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1292,"y":1051,"wires":[]},{"id":"bef68c30.bb9418","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"845d656a.850818","service":"_ext_","query":"","params":"","name":"","x":1516.285888671875,"y":1295.71435546875,"wires":[["75504273.b3163c","869ce876.ad7c48"]]},{"id":"639d4066.5a6ea8","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\" : \"I found the following recipes:\\n{{#payload}}<a href='{{{LINK}}}' target='_blank' rel='noopener noreferrer'>{{RECIPE_NAME}}</a></br>{{/payload}}\"}\n","output":"json","x":2134,"y":1320.2857666015625,"wires":[["5f39b07f.a03178","62868781.e60568"]]},{"id":"5f39b07f.a03178","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1947.571533203125,"y":1178.857177734375,"wires":[]},{"id":"c725ff19.21fd4","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1337,"y":1181,"wires":[["2dba943d.585eec","96cdb331.db358"],["a599164b.0f51c8","4eab5b6.38ec1a4"]]},{"id":"a599164b.0f51c8","type":"template","z":"fe346a7d.1d2088","name":"Error Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\" : \"Something went wrong\"}","output":"json","x":2155.7143516540527,"y":1375.714225769043,"wires":[["62868781.e60568"]]},{"id":"75504273.b3163c","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1725,"y":1279.857177734375,"wires":[["639d4066.5a6ea8"],["a599164b.0f51c8"]]},{"id":"9c150a6.c49d1f8","type":"switch","z":"fe346a7d.1d2088","name":"Recommendation Choice","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"random","vt":"str"},{"t":"eq","v":"ingredients","vt":"str"},{"t":"eq","v":"favourite","vt":"str"},{"t":"eq","v":"lookup","vt":"str"},{"t":"eq","v":"defavourite","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":215.99996948242188,"y":1102.5,"wires":[["efecf70a.19ffb8"],["57dbdba1.eec5bc"],["5ab7077e.b4841"],["3a856ad0.edb4b6"],["5be7271a.47ed2"]]},{"id":"7f0e4cd4.10df4c","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":820,"wires":[]},{"id":"c40472eb.6044e","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":566,"y":927,"wires":[]},{"id":"5ab7077e.b4841","type":"template","z":"fe346a7d.1d2088","name":"Query: Recipe to favourite","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO USER_FAVOURITES (USER_ID, RECIPE_ID)\nVALUES ({{payload.user_id}}, {{payload.recipe_id}});","output":"str","x":595,"y":1583,"wires":[["900616c4.87cc1","d0006a46.191ce8"]]},{"id":"900616c4.87cc1","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":944,"y":1672,"wires":[]},{"id":"d0006a46.191ce8","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"845d656a.850818","service":"_ext_","query":"","params":"","name":"","x":890,"y":1580,"wires":[["d6472517.75486"]]},{"id":"d6472517.75486","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1080,"y":1580,"wires":[["a6818ac.23f5578"],["20d3129.574aeee"]]},{"id":"20d3129.574aeee","type":"template","z":"fe346a7d.1d2088","name":"Error Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\" : \"Something went wrong\"}","output":"json","x":1360,"y":1640,"wires":[["62868781.e60568"]]},{"id":"3a856ad0.edb4b6","type":"template","z":"fe346a7d.1d2088","name":"Query: grab recipe","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select recipe_id, recipe_name, link from recipes where recipe_name =  '{{payload.name}}';","output":"str","x":518,"y":1715,"wires":[["5e7f9dad.9c3f3c"]]},{"id":"544d0370.06ae0c","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"response\" : \"Here is your recipe for :\\n{{#payload}}<a href='{{{LINK}}}' target='_blank' rel='noopener noreferrer'>{{RECIPE_NAME}}</a></br>{{/payload}}\",\n\"recipe_id\" : \"{{#payload}} {{RECIPE_ID}} {{/payload}}\"\n}\n","output":"json","x":1312,"y":1778,"wires":[["654a3ad2.6e7d34","62868781.e60568"]]},{"id":"7a0b8b29.31fd5c","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":997,"y":1784,"wires":[["544d0370.06ae0c"],["20d3129.574aeee"]]},{"id":"5e7f9dad.9c3f3c","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"845d656a.850818","service":"_ext_","query":"","params":"","name":"","x":759,"y":1757,"wires":[["7a0b8b29.31fd5c","ebbf90ed.8fe1a"]]},{"id":"a6818ac.23f5578","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\" : \"Ibruv\"}\n","output":"json","x":1476,"y":1498,"wires":[["62868781.e60568"]]},{"id":"654a3ad2.6e7d34","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1446,"y":1822,"wires":[]},{"id":"ebbf90ed.8fe1a","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":1883,"wires":[]},{"id":"5be7271a.47ed2","type":"template","z":"fe346a7d.1d2088","name":"Query: defavourite","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE FROM USER_FAVOURITES WHERE USER_ID = {{payload.user_id}} AND RECIPE_ID = {{payload.recipe_id}};","output":"str","x":409,"y":1865,"wires":[["b48e3616.08e7d8"]]},{"id":"ed8ffa3.f23f008","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"response\" : \"n\"\n}\n","output":"json","x":1176,"y":2045,"wires":[["33af58e2.5ee8b","62868781.e60568"]]},{"id":"713ba5e7.3c7dd4","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":861,"y":2051,"wires":[["ed8ffa3.f23f008"],["20d3129.574aeee"]]},{"id":"b48e3616.08e7d8","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"845d656a.850818","service":"_ext_","query":"","params":"","name":"","x":623,"y":2024,"wires":[["713ba5e7.3c7dd4","93fb34d7.6e8458"]]},{"id":"33af58e2.5ee8b","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":2089,"wires":[]},{"id":"93fb34d7.6e8458","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":704,"y":2150,"wires":[]},{"id":"efecf70a.19ffb8","type":"template","z":"fe346a7d.1d2088","name":"Query: Random","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select user_id, gluten, dairy from USERS\nWHERE user_id = {{payload.user_id}};","output":"str","x":404.1428985595703,"y":1206.1429119110107,"wires":[["ac06f4df.4f1cb8","69fc7023.4d6c78"]]},{"id":"ac06f4df.4f1cb8","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"845d656a.850818","service":"_ext_","query":"","params":"","name":"","x":584,"y":1199,"wires":[["21080334.d0aa4c","5b153b20.65923c"]]},{"id":"21080334.d0aa4c","type":"function","z":"fe346a7d.1d2088","name":"","func":"msg1 = null;\nmsg2 = null;\nmsg3 = null;\nmsg4 = null;\n\n\nif (msg.payload.DAIRY == 1){\n    if (msg.payload.GLUTEN == 1){\n       msg1 = { payload : { user_id : msg.payload.USER_ID, dairy : msg.payload.DAIRY, gluten : msg.payload.GLUTEN }};\n    }\n    else{\n        msg2 = { payload : { user_id : msg.payload.USER_ID, dairy : msg.payload.DAIRY}};\n        //msg2.payload.user_id = msg.payload.user_id;\n        //msg2.payload.dairy = masg.payload.dairy;\n    }\n}\nelse{\n    if (msg.payload.GLUTEN == 1)\n    {\n        msg3 = { payload : { user_id : msg.payload.USER_ID, gluten : msg.payload.GLUTEN }};\n        //msg3.payload.user_id = msg.payload.user_id;\n       // msg3.payload.gluten = msg.payload.gluten;\n    }\n    else\n    {\n        msg4 = { payload : { user_id : msg.payload.USER_ID}};\n    //msg4.payload.user_id = msg.payload.user_id;\n    }\n}\n\nreturn [msg1, msg2, msg3, msg4];\n\n\n/*\nif (msg.payload.dairy == 1){\n    if (msg.payload.gluten == 1){\n        msg1 = msg;\n    }\n    else{\n        msg2.payload.user_id = msg.payload.user_id;\n        msg2.payload.dairy = masg.payload.dairy;\n    }\n}\nelse{\n    if (msg.payload.gluten == 1)\n    {\n        msg3.payload.user_id = msg.payload.user_id;\n        msg3.payload.gluten = msg.payload.gluten;\n    }\n    else\n    {\n    msg4.payload.user_id = msg.payload.user_id;\n    }\n}\n*/\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":729,"y":1180,"wires":[["efcf61ce.05e9a","d561239c.526028"],["385a8085.9217b","d561239c.526028"],["26324ea4.9c1d6a","d561239c.526028"],["2362c29b.a4d0ee","d561239c.526028"]]},{"id":"385a8085.9217b","type":"template","z":"fe346a7d.1d2088","name":"Query: Random2","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select us.user_id, us.dairy, us.gluten, re.recipe_name, re.link, re.gluten, re.dairy from users us inner join recipes re \non us.dairy != re.dairy\nWHERE user_id = {{payload.user_id}} ORDER BY \n    recipe_name DESC\nFETCH FIRST 1 ROWS ONLY;","output":"str","x":943,"y":1161,"wires":[["75c2a18b.e5eb18","434252de.404454"]]},{"id":"26324ea4.9c1d6a","type":"template","z":"fe346a7d.1d2088","name":"Query: Random3","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select us.user_id, us.dairy, us.gluten, re.recipe_name, re.link, re.gluten, re.dairy from users us inner join recipes re \non us.gluten != re.gluten\nWHERE user_id = {{payload.user_id}} ORDER BY \n    recipe_name DESC\nFETCH FIRST 1 ROWS ONLY;","output":"str","x":929,"y":1208,"wires":[["75c2a18b.e5eb18","434252de.404454"]]},{"id":"2362c29b.a4d0ee","type":"template","z":"fe346a7d.1d2088","name":"Query: Random4","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select re.recipe_name, re.link from recipes re order by rand() fetch first 1 rows only;","output":"str","x":926,"y":1255,"wires":[["75c2a18b.e5eb18","434252de.404454"]]},{"id":"69fc7023.4d6c78","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":1033,"wires":[]},{"id":"d561239c.526028","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":904,"y":1042,"wires":[]},{"id":"5b153b20.65923c","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":669,"y":1091,"wires":[]},{"id":"434252de.404454","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1236,"y":939,"wires":[]},{"id":"96cdb331.db358","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1496,"y":994,"wires":[]},{"id":"4eab5b6.38ec1a4","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1751,"y":1009,"wires":[]},{"id":"95d1eb9.9a2d418","type":"template","z":"fe346a7d.1d2088","name":"Query: Random1","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select us.user_id, us.dairy, us.gluten, re.recipe_name, re.link, re.gluten, re.dairy from users us inner join recipes re \non us.dairy != re.dairy AND us.gluten != re.gluten inner join recipes_ingredients ri \non re.recipe_id = ri.recipe_id inner join ingredients i on ri.ingredient_id = i.ingredient_id\nWHERE user_id = {{payload.user_id}} AND ingredient_name in ({{{payload.parsed}}}) \ngroup by re.recipe_name, re.link having count(distinct ingredient_name) = {{payload.count}};\n\n","output":"str","x":1174.4283447265625,"y":1298.571533203125,"wires":[["bef68c30.bb9418"]]},{"id":"381fee2e.c9df72","type":"template","z":"fe346a7d.1d2088","name":"Query: Ingredients","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select user_id, gluten, dairy from USERS\nWHERE user_id = {{payload.user_id}};","output":"str","x":538.28564453125,"y":1317.4287109375,"wires":[["e23a99c5.1f45d","d2f9da3.eaf9aa8"]]},{"id":"e23a99c5.1f45d","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"845d656a.850818","service":"_ext_","query":"","params":"","name":"","x":710.1428070068359,"y":1296.285696029663,"wires":[["d2ff8e9a.102458","daa28d18.f78948"]]},{"id":"d2ff8e9a.102458","type":"function","z":"fe346a7d.1d2088","name":"","func":"msg1 = null;\nmsg2 = null;\nmsg3 = null;\nmsg4 = null;\n//from payload: userid, gluten dairy\n\nnode.log(\"testing\");\n\nvar data = flow.get(\"searchData\");\nvar s = \"'\";\nmsg.payload.parsed = s + data.ingredients.join(\"', '\") + s;\nmsg.payload.count = data.ingredients.length;\n\n\nif (msg.payload.DAIRY == 1)\n{\n    if (msg.payload.GLUTEN == 1)\n    {\n       msg1 = { payload : { user_id : msg.payload.USER_ID, dairy : msg.payload.DAIRY, gluten : msg.payload.GLUTEN , parsed : msg.payload.parsed, count : msg.payload.count}};\n    }\n    else{\n        msg2 = { payload : { user_id : msg.payload.USER_ID, dairy : msg.payload.DAIRY, parsed : msg.payload.parsed, count : msg.payload.count}};\n        //msg2.payload.user_id = msg.payload.user_id;\n        //msg2.payload.dairy = masg.payload.dairy;\n    }\n}\nelse{\n    if (msg.payload.GLUTEN == 1)\n    {\n        msg3 = { payload : { user_id : msg.payload.USER_ID, gluten : msg.payload.GLUTEN, parsed : msg.payload.parsed, count : msg.payload.count}};\n        //msg3.payload.user_id = msg.payload.user_id;\n       // msg3.payload.gluten = msg.payload.gluten;\n    }\n    else\n    {\n        msg4 = { payload : { user_id : msg.payload.USER_ID, parsed : msg.payload.parsed, count : msg.payload.count}};\n    //msg4.payload.user_id = msg.payload.user_id;\n    }\n}\n\nreturn [msg1, msg2, msg3, msg4];\n\n\n/*\nif (msg.payload.dairy == 1){\n    if (msg.payload.gluten == 1){\n        msg1 = msg;\n    }\n    else{\n        msg2.payload.user_id = msg.payload.user_id;\n        msg2.payload.dairy = masg.payload.dairy;\n    }\n}\nelse{\n    if (msg.payload.gluten == 1)\n    {\n        msg3.payload.user_id = msg.payload.user_id;\n        msg3.payload.gluten = msg.payload.gluten;\n    }\n    else\n    {\n    msg4.payload.user_id = msg.payload.user_id;\n    }\n}\n*/\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":920,"y":1343.2857666015625,"wires":[["95d1eb9.9a2d418","1eebbd4a.6d5ddb"],["10e42e90.fdcdd9","1eebbd4a.6d5ddb"],["9ed3e6e.e38cd98","1eebbd4a.6d5ddb"],["d0dffe36.de9318","1eebbd4a.6d5ddb"]]},{"id":"10e42e90.fdcdd9","type":"template","z":"fe346a7d.1d2088","name":"Query: Random2","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select us.user_id, us.dairy, us.gluten, re.recipe_name, re.link, re.gluten, re.dairy from users us inner join recipes re \non us.dairy != re.dairy inner join recipes_ingredients ri \non re.recipe_id = ri.recipe_id inner join ingredients i on ri.ingredient_id = i.ingredient_id\nWHERE user_id = {{payload.user_id}} AND ingredient_name in ({{{payload.parsed}}});\n","output":"str","x":1157,"y":1342.2857666015625,"wires":[["bef68c30.bb9418"]]},{"id":"9ed3e6e.e38cd98","type":"template","z":"fe346a7d.1d2088","name":"Query: Random3","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select us.user_id, us.dairy, us.gluten, re.recipe_name, re.link, re.gluten, re.dairy from users us inner join recipes re \non us.gluten != re.gluten inner join recipes_ingredients ri \non re.recipe_id = ri.recipe_id inner join ingredients i on ri.ingredient_id = i.ingredient_id\nWHERE user_id = {{payload.user_id}} AND ingredient_name in ({{{payload.parsed}}});\n","output":"str","x":1158,"y":1385.2857666015625,"wires":[["bef68c30.bb9418"]]},{"id":"d0dffe36.de9318","type":"template","z":"fe346a7d.1d2088","name":"Query: Random4","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select re.recipe_name, re.link from recipes re inner join recipes_ingredients ri \non re.recipe_id = ri.recipe_id inner join ingredients i on ri.ingredient_id = i.ingredient_id \nwhere ingredient_name in ({{{payload.parsed}}}) group by re.recipe_name, re.link having count(distinct ingredient_name) = {{payload.count}};","output":"str","x":1172.1427688598633,"y":1439.428638458252,"wires":[["bef68c30.bb9418"]]},{"id":"d2f9da3.eaf9aa8","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":737.5713882446289,"y":1507.4286518096924,"wires":[]},{"id":"daa28d18.f78948","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":926.5714263916016,"y":1472.5714988708496,"wires":[]},{"id":"b8a93edd.bbc3d8","type":"http response","z":"fe346a7d.1d2088","name":"","statusCode":"","headers":{},"x":2630,"y":440,"wires":[]},{"id":"822742e8.809988","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1940,"y":180,"wires":[]},{"id":"57dbdba1.eec5bc","type":"change","z":"fe346a7d.1d2088","name":"","rules":[{"t":"set","p":"searchData","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":227,"y":1271,"wires":[["ab5b037f.409628","381fee2e.c9df72"]],"l":false},{"id":"ab5b037f.409628","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":170,"y":1476,"wires":[]},{"id":"1eebbd4a.6d5ddb","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1193,"y":1256,"wires":[]},{"id":"869ce876.ad7c48","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1778,"y":1395,"wires":[]},{"id":"62868781.e60568","type":"http response","z":"fe346a7d.1d2088","name":"","statusCode":"","headers":{},"x":2459,"y":1163,"wires":[]},{"id":"845d656a.850818","type":"Db2","z":"","hostname":"dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net","db":"BLUDB","port":"50001","name":"cook"}]