IBM/NODE_RED/node-red.json
[{"id":"fe346a7d.1d2088","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7705ac12.d800fc","type":"http in","z":"fe346a7d.1d2088","name":"","url":"/webhook/request","method":"post","upload":false,"swaggerDoc":"","x":115,"y":114,"wires":[["6e3765e.e800d9c","7b4752a3.f509e4"]]},{"id":"3e7d23ee.a11c9c","type":"switch","z":"fe346a7d.1d2088","name":"Recommendation Choice","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"random","vt":"str"},{"t":"eq","v":"ingredients","vt":"str"},{"t":"eq","v":"login","vt":"str"},{"t":"eq","v":"signup","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":652,"y":406,"wires":[["bf8d3190.049dd8"],["8b3c9c61.862d58"],["8f28e92f.67b23"],["53895744.55956"]]},{"id":"bf8d3190.049dd8","type":"template","z":"fe346a7d.1d2088","name":"Query: Random","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select re.recipe_name, re.link from recipes re order by rand() fetch first 1 rows only","output":"str","x":1107,"y":211,"wires":[["80b326aa.1027a"]]},{"id":"915fd96c.1c1058","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\":{\"name\":\"{{payload.RECIPE_NAME}}\", \"link\":\"<a href='{{payload.LINK}}'>{{payload.LINK}}</a>\"}}","output":"json","x":1979,"y":208,"wires":[["b6398e7c.205bc8"]]},{"id":"16d5955d.4d2c2b","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\" : \"I found the following recipes:\\n{{#payload}}Recipe: {{RECIPE_NAME}}, available at: {{{LINK}}}\\n{{/payload}}\"}\n","output":"json","x":2181.8571548461914,"y":339.8571548461914,"wires":[["b6398e7c.205bc8","3f3be715.e06ae"]]},{"id":"7b1c83e5.d3cc4c","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1607,"y":214,"wires":[["915fd96c.1c1058"],["fd21ff44.20131"]]},{"id":"fd21ff44.20131","type":"template","z":"fe346a7d.1d2088","name":"Error Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\" : \"Something went wrong\"}","output":"json","x":2161.428466796875,"y":482.85716819763184,"wires":[["b6398e7c.205bc8"]]},{"id":"75bf517f.8f49b8","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1612,"y":387,"wires":[["16d5955d.4d2c2b"],["fd21ff44.20131"]]},{"id":"d99aa26d.4e641","type":"function","z":"fe346a7d.1d2088","name":"","func":"var s = \"'\";\nmsg.payload.parsed = s + msg.payload.ingredients.join(\"', '\") + s;\nmsg.payload.count = msg.payload.ingredients.length;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":894,"y":394,"wires":[["a9cb943e.1d031"]]},{"id":"a9cb943e.1d031","type":"template","z":"fe346a7d.1d2088","name":"Query: Ingredients","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select re.recipe_name, re.link from recipes re inner join recipes_ingredients ri \non re.recipe_id = ri.recipe_id inner join ingredients i on ri.ingredient_id = i.ingredient_id \nwhere ingredient_name in ({{{payload.parsed}}}) group by re.recipe_name, re.link having count(distinct ingredient_name) = {{payload.count}};","output":"str","x":1112,"y":395,"wires":[["6004dcd2.277834","8facb4e3.467238"]]},{"id":"43a1eb21.da413c","type":"inject","z":"fe346a7d.1d2088","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":897,"y":139,"wires":[["bf8d3190.049dd8"]]},{"id":"8f28e92f.67b23","type":"template","z":"fe346a7d.1d2088","name":"Query: Login","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT username, user_id, password \nFROM users WHERE username = '{{payload.username}}' AND password = '{{payload.password}}';","output":"str","x":910,"y":820,"wires":[["56dae3ce.88a82c","389bbc21.fade74"]]},{"id":"7256ba1a.1b183c","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1560,"y":840,"wires":[["4bfe4dac.ce4404"],["fd21ff44.20131"]]},{"id":"4bfe4dac.ce4404","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\": \"You have successfully logged in,  {{payload.USERNAME}}  \",\n\"user_id\": \" {{payload.USER_ID}} \"}","output":"json","x":2040,"y":820,"wires":[["b6398e7c.205bc8"]]},{"id":"5bc4cba7.3cf6fc","type":"switch","z":"fe346a7d.1d2088","name":"Recommendation Choice","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"out","vt":"str"},{"t":"eq","v":"in","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":218,"y":497,"wires":[["3e7d23ee.a11c9c"],["9c150a6.c49d1f8"]]},{"id":"efcf61ce.05e9a","type":"template","z":"fe346a7d.1d2088","name":"Query: Random1","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select us.user_id, us.dairy, us.gluten, re.recipe_name, re.link, re.gluten, re.dairy from users us inner join recipes re \non us.dairy != re.dairy AND us.gluten != re.gluten\nWHERE user_id = {{payload.user_id}} ORDER BY \n    recipe_name DESC\nFETCH FIRST 1 ROWS ONLY;","output":"str","x":1150,"y":1100,"wires":[["83691fcb.da0f78"]]},{"id":"2dba943d.585eec","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\":{\"name\":\"{{payload.RECIPE_NAME}}\", \"link\":\"<a href='{{payload.LINK}}'>{{payload.LINK}}</a>\"}}","output":"json","x":1980,"y":1100,"wires":[["89145738.8e4808"]]},{"id":"639d4066.5a6ea8","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\": \"I found the following recipes:\\n{{#payload}}<a href='{{{LINK}}}' target='_blank' rel='noopener noreferrer'>{{RECIPE_NAME}}</a></br>{{/payload}}\"}\n","output":"json","x":1980,"y":1180,"wires":[["5f39b07f.a03178","89145738.8e4808"]]},{"id":"5f39b07f.a03178","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2400,"y":1120,"wires":[]},{"id":"c725ff19.21fd4","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1680,"y":1160,"wires":[["2dba943d.585eec"],["a599164b.0f51c8"]]},{"id":"a599164b.0f51c8","type":"template","z":"fe346a7d.1d2088","name":"Error Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\" : \"Something went wrong\"}","output":"json","x":2000,"y":1520,"wires":[["89145738.8e4808"]]},{"id":"75504273.b3163c","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1680,"y":1360,"wires":[["639d4066.5a6ea8"],["a599164b.0f51c8"]]},{"id":"9c150a6.c49d1f8","type":"switch","z":"fe346a7d.1d2088","name":"Recommendation Choice","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"random","vt":"str"},{"t":"eq","v":"ingredients","vt":"str"},{"t":"eq","v":"favourite","vt":"str"},{"t":"eq","v":"lookup","vt":"str"},{"t":"eq","v":"defavourite","vt":"str"},{"t":"eq","v":"getfavourite","vt":"str"},{"t":"eq","v":"smart_lookup","vt":"str"},{"t":"eq","v":"return_favs","vt":"str"},{"t":"eq","v":"update_prefs","vt":"str"},{"t":"eq","v":"view_prefs","vt":"str"},{"t":"eq","v":"add_pantry_text","vt":"str"},{"t":"eq","v":"get_pantry","vt":"str"},{"t":"eq","v":"remove_pantry","vt":"str"}],"checkall":"true","repair":false,"outputs":13,"x":110,"y":1300,"wires":[["efecf70a.19ffb8"],["57dbdba1.eec5bc"],["5ab7077e.b4841"],["3a856ad0.edb4b6"],["5be7271a.47ed2"],["159b72a0.35c21d"],["30f05e66.4b34ca"],["26955d3.72aec22"],["b9363fb7.eea9b8"],["deefd8ae.9bef18"],["226109ad.044cee"],["45e06f2.062019"],["315195c5.d95912"]]},{"id":"5ab7077e.b4841","type":"template","z":"fe346a7d.1d2088","name":"Query: Recipe to favourite","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO USER_FAVOURITES (USER_ID, RECIPE_ID)\nVALUES ({{payload.user_id}}, {{payload.recipe_id}});","output":"str","x":620,"y":1540,"wires":[["e428ab7f.350898"]]},{"id":"d6472517.75486","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1020,"y":1540,"wires":[["a6818ac.23f5578"],["a599164b.0f51c8"]]},{"id":"3a856ad0.edb4b6","type":"template","z":"fe346a7d.1d2088","name":"Query: grab recipe","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select recipe_id, recipe_name, link from recipes where recipe_name =  '{{payload.name}}';","output":"str","x":570,"y":1700,"wires":[["dbf33308.0466b"]]},{"id":"544d0370.06ae0c","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"response\" : \"Here is your recipe for :\\n{{#payload}}<a href='{{{LINK}}}' target='_blank' rel='noopener noreferrer'>{{RECIPE_NAME}}</a></br>{{/payload}}\",\n\"recipe_id\" : \"{{#payload}} {{RECIPE_ID}} {{/payload}}\"\n}\n","output":"json","x":1220,"y":1660,"wires":[["89145738.8e4808"]]},{"id":"7a0b8b29.31fd5c","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":1700,"wires":[["544d0370.06ae0c"],["a599164b.0f51c8"]]},{"id":"a6818ac.23f5578","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\": \"Added recipe to favourites\"}\n","output":"json","x":1240,"y":1500,"wires":[["89145738.8e4808"]]},{"id":"5be7271a.47ed2","type":"template","z":"fe346a7d.1d2088","name":"Query: defavourite","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE FROM USER_FAVOURITES WHERE USER_ID = {{payload.user_id}} AND RECIPE_ID = {{payload.recipe_id}};","output":"str","x":570,"y":1780,"wires":[["4bcb8691.d6359"]]},{"id":"ed8ffa3.f23f008","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"response\" : \"Successfully removed recipe\"\n}\n","output":"json","x":1220,"y":1740,"wires":[["89145738.8e4808"]]},{"id":"713ba5e7.3c7dd4","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":1780,"wires":[["ed8ffa3.f23f008"],["a599164b.0f51c8"]]},{"id":"efecf70a.19ffb8","type":"template","z":"fe346a7d.1d2088","name":"Query: Random","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select user_id, gluten, dairy from USERS\nWHERE user_id = {{payload.user_id}};","output":"str","x":620,"y":1160,"wires":[["2d40597f.4e937e"]]},{"id":"21080334.d0aa4c","type":"function","z":"fe346a7d.1d2088","name":"","func":"msg1 = null;\nmsg2 = null;\nmsg3 = null;\nmsg4 = null;\n\n\nif (msg.payload.DAIRY == 1){\n    if (msg.payload.GLUTEN == 1){\n       msg1 = { payload : { user_id : msg.payload.USER_ID, dairy : msg.payload.DAIRY, gluten : msg.payload.GLUTEN }};\n    }\n    else{\n        msg2 = { payload : { user_id : msg.payload.USER_ID, dairy : msg.payload.DAIRY}};\n        //msg2.payload.user_id = msg.payload.user_id;\n        //msg2.payload.dairy = masg.payload.dairy;\n    }\n}\nelse{\n    if (msg.payload.GLUTEN == 1)\n    {\n        msg3 = { payload : { user_id : msg.payload.USER_ID, gluten : msg.payload.GLUTEN }};\n        //msg3.payload.user_id = msg.payload.user_id;\n       // msg3.payload.gluten = msg.payload.gluten;\n    }\n    else\n    {\n        msg4 = { payload : { user_id : msg.payload.USER_ID}};\n    //msg4.payload.user_id = msg.payload.user_id;\n    }\n}\n\nreturn [msg1, msg2, msg3, msg4];\n\n\n/*\nif (msg.payload.dairy == 1){\n    if (msg.payload.gluten == 1){\n        msg1 = msg;\n    }\n    else{\n        msg2.payload.user_id = msg.payload.user_id;\n        msg2.payload.dairy = masg.payload.dairy;\n    }\n}\nelse{\n    if (msg.payload.gluten == 1)\n    {\n        msg3.payload.user_id = msg.payload.user_id;\n        msg3.payload.gluten = msg.payload.gluten;\n    }\n    else\n    {\n    msg4.payload.user_id = msg.payload.user_id;\n    }\n}\n*/\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":940,"y":1160,"wires":[["efcf61ce.05e9a"],["385a8085.9217b"],["26324ea4.9c1d6a"],["2362c29b.a4d0ee"]]},{"id":"385a8085.9217b","type":"template","z":"fe346a7d.1d2088","name":"Query: Random2","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select us.user_id, us.dairy, us.gluten, re.recipe_name, re.link, re.gluten, re.dairy from users us inner join recipes re \non us.dairy != re.dairy\nWHERE user_id = {{payload.user_id}} ORDER BY \n    recipe_name DESC\nFETCH FIRST 1 ROWS ONLY;","output":"str","x":1150,"y":1140,"wires":[["83691fcb.da0f78"]]},{"id":"26324ea4.9c1d6a","type":"template","z":"fe346a7d.1d2088","name":"Query: Random3","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select us.user_id, us.dairy, us.gluten, re.recipe_name, re.link, re.gluten, re.dairy from users us inner join recipes re \non us.gluten != re.gluten\nWHERE user_id = {{payload.user_id}} ORDER BY \n    recipe_name DESC\nFETCH FIRST 1 ROWS ONLY;","output":"str","x":1150,"y":1180,"wires":[["83691fcb.da0f78"]]},{"id":"2362c29b.a4d0ee","type":"template","z":"fe346a7d.1d2088","name":"Query: Random4","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select re.recipe_name, re.link from recipes re order by rand() fetch first 1 rows only;","output":"str","x":1150,"y":1220,"wires":[["83691fcb.da0f78"]]},{"id":"95d1eb9.9a2d418","type":"template","z":"fe346a7d.1d2088","name":"Query: Random1","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select us.user_id, us.dairy, us.gluten, re.recipe_name, re.link, re.gluten, re.dairy from users us inner join recipes re \non us.dairy != re.dairy AND us.gluten != re.gluten inner join recipes_ingredients ri \non re.recipe_id = ri.recipe_id inner join ingredients i on ri.ingredient_id = i.ingredient_id\nWHERE user_id = {{payload.user_id}} AND ingredient_name in ({{{payload.parsed}}}) \ngroup by re.recipe_name, re.link having count(distinct ingredient_name) = {{payload.count}};\n\n","output":"str","x":1150,"y":1300,"wires":[["c802f128.d8ecc"]]},{"id":"381fee2e.c9df72","type":"template","z":"fe346a7d.1d2088","name":"Query: User_info","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select user_id, gluten, dairy from USERS\nWHERE user_id = {{payload.user_id}};","output":"str","x":610,"y":1360,"wires":[["96535055.454068"]]},{"id":"d2ff8e9a.102458","type":"function","z":"fe346a7d.1d2088","name":"","func":"msg1 = null;\nmsg2 = null;\nmsg3 = null;\nmsg4 = null;\n//from payload: userid, gluten dairy\n\nnode.log(\"testing\");\n\nvar data = flow.get(\"searchData\");\nvar s = \"'\";\nmsg.payload.parsed = s + data.ingredients.join(\"', '\") + s;\nmsg.payload.count = data.ingredients.length;\n\n\nif (msg.payload.DAIRY == 1)\n{\n    if (msg.payload.GLUTEN == 1)\n    {\n       msg1 = { payload : { user_id : msg.payload.USER_ID, dairy : msg.payload.DAIRY, gluten : msg.payload.GLUTEN , parsed : msg.payload.parsed, count : msg.payload.count}};\n    }\n    else{\n        msg2 = { payload : { user_id : msg.payload.USER_ID, dairy : msg.payload.DAIRY, parsed : msg.payload.parsed, count : msg.payload.count}};\n        //msg2.payload.user_id = msg.payload.user_id;\n        //msg2.payload.dairy = masg.payload.dairy;\n    }\n}\nelse{\n    if (msg.payload.GLUTEN == 1)\n    {\n        msg3 = { payload : { user_id : msg.payload.USER_ID, gluten : msg.payload.GLUTEN, parsed : msg.payload.parsed, count : msg.payload.count}};\n        //msg3.payload.user_id = msg.payload.user_id;\n       // msg3.payload.gluten = msg.payload.gluten;\n    }\n    else\n    {\n        msg4 = { payload : { user_id : msg.payload.USER_ID, parsed : msg.payload.parsed, count : msg.payload.count}};\n    //msg4.payload.user_id = msg.payload.user_id;\n    }\n}\n\nreturn [msg1, msg2, msg3, msg4];\n\n\n/*\nif (msg.payload.dairy == 1){\n    if (msg.payload.gluten == 1){\n        msg1 = msg;\n    }\n    else{\n        msg2.payload.user_id = msg.payload.user_id;\n        msg2.payload.dairy = masg.payload.dairy;\n    }\n}\nelse{\n    if (msg.payload.gluten == 1)\n    {\n        msg3.payload.user_id = msg.payload.user_id;\n        msg3.payload.gluten = msg.payload.gluten;\n    }\n    else\n    {\n    msg4.payload.user_id = msg.payload.user_id;\n    }\n}\n*/\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":940,"y":1360,"wires":[["95d1eb9.9a2d418"],["10e42e90.fdcdd9"],["9ed3e6e.e38cd98"],["d0dffe36.de9318"]]},{"id":"10e42e90.fdcdd9","type":"template","z":"fe346a7d.1d2088","name":"Query: Random2","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select us.user_id, us.dairy, us.gluten, re.recipe_name, re.link, re.gluten, re.dairy from users us inner join recipes re \non us.dairy != re.dairy inner join recipes_ingredients ri \non re.recipe_id = ri.recipe_id inner join ingredients i on ri.ingredient_id = i.ingredient_id\nWHERE user_id = {{payload.user_id}} AND ingredient_name in ({{{payload.parsed}}});\n","output":"str","x":1150,"y":1340,"wires":[["c802f128.d8ecc"]]},{"id":"9ed3e6e.e38cd98","type":"template","z":"fe346a7d.1d2088","name":"Query: Random3","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select us.user_id, us.dairy, us.gluten, re.recipe_name, re.link, re.gluten, re.dairy from users us inner join recipes re \non us.gluten != re.gluten inner join recipes_ingredients ri \non re.recipe_id = ri.recipe_id inner join ingredients i on ri.ingredient_id = i.ingredient_id\nWHERE user_id = {{payload.user_id}} AND ingredient_name in ({{{payload.parsed}}});\n","output":"str","x":1150,"y":1380,"wires":[["c802f128.d8ecc"]]},{"id":"d0dffe36.de9318","type":"template","z":"fe346a7d.1d2088","name":"Query: Random4","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select re.recipe_name, re.link from recipes re inner join recipes_ingredients ri \non re.recipe_id = ri.recipe_id inner join ingredients i on ri.ingredient_id = i.ingredient_id \nwhere ingredient_name in ({{{payload.parsed}}}) group by re.recipe_name, re.link having count(distinct ingredient_name) = {{payload.count}};","output":"str","x":1150,"y":1420,"wires":[["c802f128.d8ecc"]]},{"id":"b8a93edd.bbc3d8","type":"http response","z":"fe346a7d.1d2088","name":"","statusCode":"","headers":{},"x":2623.3332290649414,"y":436.66661834716797,"wires":[]},{"id":"57dbdba1.eec5bc","type":"change","z":"fe346a7d.1d2088","name":"","rules":[{"t":"set","p":"searchData","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":475,"y":1360,"wires":[["381fee2e.c9df72"]],"l":false},{"id":"62868781.e60568","type":"http response","z":"fe346a7d.1d2088","name":"","statusCode":"","headers":{},"x":3870,"y":1280,"wires":[]},{"id":"53895744.55956","type":"template","z":"fe346a7d.1d2088","name":"Query: Sign up","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO USERS (USER_ID, USERNAME, PASSWORD, DAIRY, GLUTEN, VEGAN, VEGETARIAN)\nVALUES ('7', '{{payload.username}}', '{{payload.password}}', '0','0','0','0');","output":"str","x":908.5714416503906,"y":907.1429109573364,"wires":[["16465ddd.bd437a","943c3130.23ce18"]]},{"id":"4afae283.2d6bec","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1560,"y":920,"wires":[["5ec05834.388258"],["fd21ff44.20131"]]},{"id":"5ec05834.388258","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\": \"You have successfully created an account: now sign in,  {{payload.USERNAME}}\"}","output":"json","x":2060,"y":900,"wires":[["b6398e7c.205bc8"]]},{"id":"6e3765e.e800d9c","type":"change","z":"fe346a7d.1d2088","name":"","rules":[{"t":"set","p":"req","pt":"flow","to":"req","tot":"msg"},{"t":"set","p":"res","pt":"flow","to":"res","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":228,"y":250,"wires":[["5bc4cba7.3cf6fc","dc6fe7b7.4de08"]],"l":false},{"id":"89145738.8e4808","type":"change","z":"fe346a7d.1d2088","name":"","rules":[{"t":"set","p":"req","pt":"msg","to":"req","tot":"flow"},{"t":"set","p":"res","pt":"msg","to":"res","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":3655,"y":1280,"wires":[["62868781.e60568"]],"l":false},{"id":"b6398e7c.205bc8","type":"change","z":"fe346a7d.1d2088","name":"","rules":[{"t":"set","p":"req","pt":"msg","to":"req","tot":"flow"},{"t":"set","p":"res","pt":"msg","to":"res","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2413,"y":437,"wires":[["b8a93edd.bbc3d8"]],"l":false},{"id":"7b4752a3.f509e4","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":519.5,"y":115,"wires":[],"l":false},{"id":"dc6fe7b7.4de08","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":413,"y":252,"wires":[],"l":false},{"id":"56dae3ce.88a82c","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":895,"y":740,"wires":[],"l":false},{"id":"9deb3632.505028","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1215,"y":740,"wires":[],"l":false},{"id":"159b72a0.35c21d","type":"template","z":"fe346a7d.1d2088","name":"Query: grab favourited recipe","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select re.recipe_name, re.link from recipes re inner join user_favourites uf \non re.recipe_id = uf.recipe_id inner join users u on uf.user_id = u.user_id  order by rand() fetch first 1 rows only;","output":"str","x":590,"y":1900,"wires":[["5ea01cab.2e4bd4"]]},{"id":"d1ed41f6.47057","type":"template","z":"fe346a7d.1d2088","name":"Query: Gluten AND Dairy","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select us.user_id, us.dairy, us.gluten, re.recipe_name, re.link, re.gluten, re.dairy, re.vegan, re.vegetarian, re.cuisine from users us inner join recipes re \non us.dairy != re.dairy AND us.gluten != re.gluten inner join recipes_ingredients ri \non re.recipe_id = ri.recipe_id inner join ingredients i on ri.ingredient_id = i.ingredient_id\nWHERE user_id = {{flow.userData.USER_ID}} AND ingredient_name in ({{{payload.parsed}}}) group by re.recipe_name, re.link having count(distinct ingredient_name) = {{payload.count}};\n\n","output":"str","x":1318.714111328125,"y":2086.28564453125,"wires":[["545eec9c.ed2734","e2399557.7a7108"]]},{"id":"cf2ccb3e.4f5508","type":"template","z":"fe346a7d.1d2088","name":"Query: User_info","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select user_id, gluten, dairy from USERS\nWHERE user_id = {{payload.user_id}};","output":"str","x":550,"y":2000,"wires":[["ff7847fb.5b357","42c59bc0.f20ffc"]]},{"id":"8ddcaad6.da6b3","type":"function","z":"fe346a7d.1d2088","name":"","func":"msg1 = null;\nmsg2 = null;\nmsg3 = null;\nmsg4 = null;\n//from payload: userid, gluten dairy\n\nnode.log(\"testing\");\n\nvar data = flow.get(\"searchData\");\nvar s = \"'\";\n//msg.payload.parsed = s + data.ingredients.join(\"', '\") + s;\nmsg.payload.parsed = data.ingredients;\n//msg.payload.parsed = \"'bread','mushroom','rosemary','parmesan','potatoes','oil','pesto','eggs'\";\n//msg.payload.count = data.ingredients.length;\nmsg.payload.count = 5;\nmsg.payload.parsed = msg.payload.parsed.slice(0, -1);\n\n\n\nif (msg.payload.DAIRY == 1)\n{\n    if (msg.payload.GLUTEN == 1)\n    {\n       msg1 = { payload : { user_id : msg.payload.USER_ID, dairy : msg.payload.DAIRY, gluten : msg.payload.GLUTEN , parsed : msg.payload.parsed, count : msg.payload.count}};\n    }\n    else{\n        msg2 = { payload : { user_id : msg.payload.USER_ID, dairy : msg.payload.DAIRY, parsed : msg.payload.parsed, count : msg.payload.count}};\n        //msg2.payload.user_id = msg.payload.user_id;\n        //msg2.payload.dairy = masg.payload.dairy;\n    }\n}\nelse{\n    if (msg.payload.GLUTEN == 1)\n    {\n        msg3 = { payload : { user_id : msg.payload.USER_ID, gluten : msg.payload.GLUTEN, parsed : msg.payload.parsed, count : msg.payload.count}};\n        //msg3.payload.user_id = msg.payload.user_id;\n       // msg3.payload.gluten = msg.payload.gluten;\n    }\n    else\n    {\n        msg4 = { payload : { user_id : msg.payload.USER_ID, parsed : msg.payload.parsed, count : msg.payload.count}};\n    //msg4.payload.user_id = msg.payload.user_id;\n    }\n}\n\nreturn [msg1, msg2, msg3, msg4];\n\n\n/*\nif (msg.payload.dairy == 1){\n    if (msg.payload.gluten == 1){\n        msg1 = msg;\n    }\n    else{\n        msg2.payload.user_id = msg.payload.user_id;\n        msg2.payload.dairy = masg.payload.dairy;\n    }\n}\nelse{\n    if (msg.payload.gluten == 1)\n    {\n        msg3.payload.user_id = msg.payload.user_id;\n        msg3.payload.gluten = msg.payload.gluten;\n    }\n    else\n    {\n    msg4.payload.user_id = msg.payload.user_id;\n    }\n}\n*/\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":1088.714111328125,"y":2146.28564453125,"wires":[["d1ed41f6.47057"],["8f388e48.5716b8"],["b6071621.27a9c"],["d7cd8434.52006"]]},{"id":"8f388e48.5716b8","type":"template","z":"fe346a7d.1d2088","name":"Query: Dairy","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select us.user_id, us.dairy, re.recipe_name, re.link, re.dairy, re.vegan, re.vegetarian, re.cuisine from users us inner join recipes re \non us.dairy != re.dairy inner join recipes_ingredients ri \non re.recipe_id = ri.recipe_id inner join ingredients i on ri.ingredient_id = i.ingredient_id\nWHERE user_id = {{flow.userData.USER_ID}} AND ingredient_name in ({{{payload.parsed}}}) group by re.recipe_name, re.link having count(distinct ingredient_name) = {{payload.count}};\n","output":"str","x":1278.714111328125,"y":2126.28564453125,"wires":[["545eec9c.ed2734","d264a453.a6f518"]]},{"id":"b6071621.27a9c","type":"template","z":"fe346a7d.1d2088","name":"Query: Gluten","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select us.user_id, us.gluten, re.recipe_name, re.link, re.gluten, re.vegan, re.vegetarian, re.cuisine from users us inner join recipes re \non us.gluten != re.gluten inner join recipes_ingredients ri \non re.recipe_id = ri.recipe_id inner join ingredients i on ri.ingredient_id = i.ingredient_id\nWHERE user_id = {{flow.userData.USER_ID}} AND ingredient_name in ({{{payload.parsed}}}) group by re.recipe_name, re.link having count(distinct ingredient_name) = {{payload.count}};\n","output":"str","x":1288.714111328125,"y":2166.28564453125,"wires":[["545eec9c.ed2734","e247d9e1.d40de8"]]},{"id":"d7cd8434.52006","type":"template","z":"fe346a7d.1d2088","name":"Query: Healthy","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select re.recipe_id, re.recipe_name, re.link, re.vegan, re.vegetarian, re.cuisine, re.course from recipes re inner join recipes_ingredients ri \non re.recipe_id = ri.recipe_id inner join ingredients i on ri.ingredient_id = i.ingredient_id \nWHERE ingredient_name in ({{{payload.parsed}}}) group by re.recipe_id, re.recipe_name, re.link, re.vegan, re.vegetarian, re.cuisine, re.course;","output":"str","x":1288.714111328125,"y":2206.28564453125,"wires":[["545eec9c.ed2734","8af20a0c.3163b"]]},{"id":"30f05e66.4b34ca","type":"change","z":"fe346a7d.1d2088","name":"","rules":[{"t":"set","p":"searchData","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":415,"y":2000,"wires":[["cf2ccb3e.4f5508"]],"l":false},{"id":"c1ee01ec.eb38a","type":"function","z":"fe346a7d.1d2088","name":"","func":"msg1 = null;\nmsg2 = null;\nmsg3 = null;\nmsg4 = null;\n//from payload: userid, gluten dairy\n\nfunction vegan(user){\n    if(user.vegan == 1){\n        return true;\n    }\n    else{\n        return false;\n    }\n}\n\nfunction vegetarian(user){\n    if(user.vegetarian == 1){\n        return true;\n    }\n    else{\n        return false;\n    }\n}\n\nnode.log(\"testing\");\n\nvar data = flow.get(\"searchData\");\nvar user = flow.get(\"userData\");\nvar recipe = flow.get(\"recipes\");\n\nvar recipes = [];\n\nfor (i = 0; i < recipe.length; i++){\n    //dietary restrictions\n    if (vegan(user)) {\n        //vegan\n        if(recipe[i].VEGAN == 1){\n            recipes.push(recipe[i]);\n        }\n    }\n    else{\n        if (vegetarian(user)){\n            //vegetarian\n            if(recipe[i].VEGETARIAN == 1 || recipe[i].VEGAN == 1){\n                recipes.push(recipe[i]);\n            }\n        }\n        else{\n            //not vegetarian or vegan\n            recipes.push(recipe[i]);\n        }\n    }\n    \n}\n\n\nvar recipes2 = [];\n\nfor (i = 0; i < recipes.length; i++){\n    if(recipes[i].CUISINE == data.cuisine){\n        if(recipes[i].COURSE == data.meal_type){\n            recipes2.push(recipes[i]);\n        }\n        \n    }\n    else{\n        for (j = 0; j < msg.payload.length; j++){\n            if (msg.payload[j].RECIPE_NAME == recipes[i].RECIPE_NAME){\n                recipes2.push(recipes[i])\n            }\n        }\n    }\n}\n\nmsg.payload = recipes2;\n\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2184.2856216430664,"y":2144.2859497070312,"wires":[["4c94012d.87007","775433a7.370e1c"]]},{"id":"9265045d.84f7f","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1268.5,"y":1015,"wires":[],"l":false},{"id":"16465ddd.bd437a","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1009.5237531661987,"y":983.1746253967285,"wires":[],"l":false},{"id":"ccf4ecd0.2ab528","type":"change","z":"fe346a7d.1d2088","name":"","rules":[{"t":"set","p":"userData","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":929,"y":2144,"wires":[["8ddcaad6.da6b3"]],"l":false},{"id":"775433a7.370e1c","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3119.9996032714844,"y":1977.1430492401123,"wires":[["559f29c8.832ff"],["35d39180.e075c6"]]},{"id":"4c94012d.87007","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2330.4998111724854,"y":2068.2857236862183,"wires":[],"l":false},{"id":"e97dc9f3.c1e9a","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1657.5,"y":2081,"wires":[],"l":false},{"id":"35d39180.e075c6","type":"template","z":"fe346a7d.1d2088","name":"Error Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\" : \"Something went wrong\"}","output":"json","x":3355.714225769043,"y":2224.285842895508,"wires":[["89145738.8e4808"]]},{"id":"559f29c8.832ff","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\" : \"I found the following recipes:\\n{{#payload}}Recipe: {{RECIPE_NAME}}, available at: {{{LINK}}}\\n{{/payload}}\"}\n","output":"json","x":3422.85701751709,"y":1971.4287719726562,"wires":[["89145738.8e4808","bb1b8684.dd6248"]]},{"id":"72e4f770.f08e4","type":"change","z":"fe346a7d.1d2088","name":"","rules":[{"t":"set","p":"recipes","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1659,"y":2143,"wires":[["64661ed4.6f84c8"]],"l":false},{"id":"64661ed4.6f84c8","type":"template","z":"fe346a7d.1d2088","name":"Query: Grab favourite","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select re.recipe_name, re.link from recipes re inner join user_favourites ri \non re.recipe_id = ri.recipe_id inner join users i on ri.user_id = i.user_id \nwhere i.user_id = {{flow.userData.USER_ID}} group by re.recipe_name, re.link;","output":"str","x":1807.5714492797852,"y":2145.7144269943237,"wires":[["33cbe0a2.67333","b073726b.96f5f"]]},{"id":"d63c90b1.34c1","type":"template","z":"fe346a7d.1d2088","name":"ingredients priority","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select in.ingredient_name, in.priority_level from ingredients in \nwhere ingredient_name in ({{{payload}}});","output":"str","x":2615.714179992676,"y":2144.2859477996826,"wires":[["73f035d4.5ed33c","6188b241.e1f184"]]},{"id":"e2a11057.c99378","type":"change","z":"fe346a7d.1d2088","name":"","rules":[{"t":"set","p":"recipesParsed","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2330.7140827178955,"y":2158.5716705322266,"wires":[["751ac052.b7e588"]],"l":false},{"id":"36dbbfe8.7338f","type":"function","z":"fe346a7d.1d2088","name":"","func":"var recipe = flow.get(\"recipesParsed\");\n\nvar ingredients = [];\n\nfor(i = 0; i < msg.payload.length; i++){\n    ingredients.push(msg.payload[i]);\n}\n\ningredients.sort(function(a, b){return a.value - b.value});\n\n\nfor(i = 0; i < recipe.length; i++){\n    priority = 0;\n    for(j = 0; j < recipe[i].ingredients.length; j++){\n        for(k = 0; k < ingredients.length; k++){\n            if(recipe[i].ingredients[j] == ingredients.ingredients_name[k]){\n                priority = priority + ingredients.priority_level;\n                \n            }\n        }\n        \n    }\n    recipe[i].priority.push(priority);\n}\n\nrecipe.sort(function(a, b){return a.priority - b.priority});\n\nmsg.payload = recipe;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2935.714225769043,"y":2144.285842895508,"wires":[["775433a7.370e1c","1ffdfb76.62676d"]]},{"id":"380412a.4a7106e","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2115,"y":2060,"wires":[],"l":false},{"id":"b073726b.96f5f","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1955,"y":2060,"wires":[],"l":false},{"id":"6188b241.e1f184","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2750.714225769043,"y":2064.285842895508,"wires":[],"l":false},{"id":"40b9c5c3.fab66c","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2890.714225769043,"y":2064.285842895508,"wires":[],"l":false},{"id":"1ffdfb76.62676d","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3050.714225769043,"y":2064.285842895508,"wires":[],"l":false},{"id":"6cbef7cd.2d6b38","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":855,"y":2080,"wires":[],"l":false},{"id":"42c59bc0.f20ffc","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":715,"y":2080,"wires":[],"l":false},{"id":"26955d3.72aec22","type":"template","z":"fe346a7d.1d2088","name":"Query: return_favs","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select re.recipe_name, re.link from recipes re inner join user_favourites uf \non re.recipe_id = uf.recipe_id inner join users u on uf.user_id = u.user_id WHERE user_id = {{payload.user_id}}\norder by rand() fetch first 1 rows only;","output":"str","x":476.285888671875,"y":2135.71435546875,"wires":[["23f9d71c.b9ca"]]},{"id":"a09033f1.38061","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"response\" : \"Here is your recipe for :\\n{{#payload}}<a href='{{{LINK}}}' target='_blank' rel='noopener noreferrer'>{{RECIPE_NAME}}</a></br>{{/payload}}\",\n\"recipe_id\" : \"{{#payload}} {{RECIPE_ID}} {{/payload}}\"\n}\n","output":"json","x":1680,"y":1880,"wires":[["89145738.8e4808"]]},{"id":"5352a429.dd12f4","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1060,"y":1880,"wires":[["a09033f1.38061"],["a599164b.0f51c8"]]},{"id":"d25e0e29.984af","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\" : \"Your favourites:\\n{{#payload}}<a href='{{{LINK}}}' target='_blank' rel='noopener noreferrer'>{{RECIPE_NAME}}</a></br>{{/payload}}\"}\n","output":"json","x":1540,"y":2340,"wires":[["89145738.8e4808"]]},{"id":"2a31271c.a4a978","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":2380,"wires":[["d25e0e29.984af"],["a599164b.0f51c8"]]},{"id":"deefd8ae.9bef18","type":"template","z":"fe346a7d.1d2088","name":"Query: return info","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select user_id, gluten, dairy, vegan, vegetarian from USERS\nWHERE user_id = {{payload.user_id}};","output":"str","x":530,"y":2380,"wires":[["3e9a493f.4dd1de"]]},{"id":"a0c083bd.de5c9","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":972.857177734375,"y":2477.142822265625,"wires":[["ab9bff56.22464"],["a599164b.0f51c8"]]},{"id":"ab9bff56.22464","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\": \"Your prefs, {{payload.USERNAME}}, are: Dairy: {{payload.DAIRY}}, Gluten: {{payload.GLUTEN}}, Vegan: {{payload.VEGAN}}, Vegetarian: {{payload.VEGETARIAN}}  \",\n\"user_id\": \" {{payload.USER_ID}} \"}","output":"json","x":1320,"y":2460,"wires":[["89145738.8e4808"]]},{"id":"b9363fb7.eea9b8","type":"template","z":"fe346a7d.1d2088","name":"Query: update prefs","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"update users\nset VEGAN = {{payload.vegan}}, VEGETARIAN = {{payload.vegetarian}}, DAIRY = {{payload.dairy}}, GLUTEN = {{payload.gluten}}\nwhere user_id = {{payload.user_id}};","output":"str","x":540,"y":2500,"wires":[["8e7da9.a62a0a58"]]},{"id":"614a26cf.a5864","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":980,"y":2540,"wires":[["8c65e378.924288"],["a599164b.0f51c8"]]},{"id":"8c65e378.924288","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\": \"Your prefs, {{payload.USERNAME}}, are: Dairy: {{payload.DAIRY}}, Gluten: {{payload.GLUTEN}}, Vegan: {{payload.VEGAN}}, Vegetarian: {{payload.VEGETARIAN}}  \",\n\"user_id\": \" {{payload.USER_ID}} \"}","output":"json","x":1600,"y":2480,"wires":[["89145738.8e4808"]]},{"id":"70c29706.f7ec1","type":"template","z":"fe346a7d.1d2088","name":"Query: Add to pantry","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO pantry(user_id, ingredient_id)\nVALUES ({{payload.user_id}}, {{payload.INGREDIENT_ID}});","output":"str","x":1240,"y":2620,"wires":[["5730ad50.0ec00c","af206c18.2ed678"]]},{"id":"3f4e0488.3f94dc","type":"function","z":"fe346a7d.1d2088","name":"","func":"var s = \"'\";\nfor(i=0; i< msg.payload.ingredients.length; i++){\n    msg.payload.ingredients[i] = msg.payload.ingredients[i].toLowerCase();\n}\nmsg.payload.parsed = s + msg.payload.ingredients.join(\"', '\") + s;\nmsg.payload.count = msg.payload.ingredients.length;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":2620,"wires":[["6b79df94.be655"]]},{"id":"6b79df94.be655","type":"template","z":"fe346a7d.1d2088","name":"Query: grab ingredients","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select ingredient_id from ingredients where ingredient_name in ({{{payload.parsed}}}) group by ingredient_id having count(distinct ingredient_name) = {{payload.count}};","output":"str","x":710,"y":2620,"wires":[["54e6ad2d.a6984c","991d27b6.94373"]]},{"id":"226109ad.044cee","type":"change","z":"fe346a7d.1d2088","name":"","rules":[{"t":"set","p":"user_id","pt":"flow","to":"payload.user_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":375,"y":2620,"wires":[["3f4e0488.3f94dc"]],"l":false},{"id":"ee235f32.d4e9b","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1640,"y":2620,"wires":[["551b205d.dadd9"],["a599164b.0f51c8"]]},{"id":"551b205d.dadd9","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\": \"Added to pantry\"}","output":"json","x":1920.0000305175781,"y":2614.2856121063232,"wires":[["89145738.8e4808","330656c4.7766a2"]]},{"id":"45e06f2.062019","type":"template","z":"fe346a7d.1d2088","name":"Query: ingredients in pantry","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select i.ingredient_name from users us inner join pantry pa \non us.user_id = pa.user_id inner join ingredients i on pa.ingredient_id = i.ingredient_id \nwhere us.user_id = {{payload.user_id}};","output":"str","x":460,"y":2780,"wires":[["8d6730c2.128218","739d9a26.7ea6ec"]]},{"id":"15e6f69f.565439","type":"comment","z":"fe346a7d.1d2088","name":"","info":"TODO: AFTER FINAL RECIPE: QUERY WETHER ALL INGREDIENTS OF RECIPE IN PANTRY. IF NO, SAY NO RECIPE\n\nCURRENT QUERY: SELECTS ALL INGREDIENT IDs FROM LIST OF INGREDS THAT ARE IN YOUR PANTRY\nTHEN SUBS THE INGREDIENT LIST YOU USUALLY GET BUT WITH THE LIST FROM THE PANTRY\n\nALSO TODO: KILL SOME DB INSTANCES: NEED BELOW 15","x":655,"y":3200,"wires":[],"l":false},{"id":"908b10c3.3e146","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1040,"y":2780,"wires":[["88b6f42c.d1e59"],["a599164b.0f51c8"]]},{"id":"88b6f42c.d1e59","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\" : \"{{#payload}}'{{INGREDIENT_NAME}}',{{/payload}}\",\n\"formatted_response\" : \"Your pantry contains: {{#payload}}{{INGREDIENT_NAME}}\\n{{/payload}}\"}\n","output":"json","x":1400,"y":2780,"wires":[["89145738.8e4808","2ba92d55.9afae2"]]},{"id":"2ba92d55.9afae2","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1615,"y":2860,"wires":[],"l":false},{"id":"493716ec.17357","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":935,"y":2860,"wires":[],"l":false},{"id":"2a82b8ad.3712d","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1055,"y":2700,"wires":[],"l":false},{"id":"330656c4.7766a2","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2073.5714359283447,"y":2652.8571453094482,"wires":[],"l":false},{"id":"991d27b6.94373","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":915,"y":2700,"wires":[],"l":false},{"id":"d7523f7c.abf898","type":"change","z":"fe346a7d.1d2088","name":"","rules":[{"t":"set","p":"payload.user_id","pt":"msg","to":"user_id","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1075,"y":2620,"wires":[["70c29706.f7ec1","e3203b85.4dcfa8"]],"l":false},{"id":"e3203b85.4dcfa8","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1175,"y":2700,"wires":[],"l":false},{"id":"af206c18.2ed678","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1395,"y":2700,"wires":[],"l":false},{"id":"8af20a0c.3163b","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1535,"y":2240,"wires":[],"l":false},{"id":"e247d9e1.d40de8","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1435,"y":2260,"wires":[],"l":false},{"id":"d264a453.a6f518","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1555,"y":2040,"wires":[],"l":false},{"id":"e2399557.7a7108","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1295,"y":1980,"wires":[],"l":false},{"id":"6004dcd2.277834","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1295,"y":300,"wires":[],"l":false},{"id":"d245d502.521bd8","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1455,"y":300,"wires":[],"l":false},{"id":"645e72bf.4384f4","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1868.5714416503906,"y":515.7142686843872,"wires":[["16d5955d.4d2c2b"],["fd21ff44.20131"]]},{"id":"db900085.1c2c78","type":"function","z":"fe346a7d.1d2088","name":"","func":"var s = \"'\";\nmsg.payload.parsed = s + msg.payload.ingredients.join(\"', '\") + s;\nmsg.payload.count = msg.payload.ingredients.length;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1035.7142181396484,"y":515.7142353057861,"wires":[["944e6bd0.778548","9281c8f5.aa17a"]]},{"id":"944e6bd0.778548","type":"template","z":"fe346a7d.1d2088","name":"Query: Ingredients","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select re.recipe_name, re.link, re.vegan, re.vegetarian, re.cuisine, re.course from recipes re inner join recipes_ingredients ri \non re.recipe_id = ri.recipe_id inner join ingredients i on ri.ingredient_id = i.ingredient_id\nwhere ingredient_name in ({{{payload.parsed}}}) group by re.recipe_name, re.link, re.vegan, re.vegetarian, re.cuisine, re.course;","output":"str","x":1247.142936706543,"y":515.7142181396484,"wires":[["8142eb48.606eb","d90b8606.86cf58"]]},{"id":"8142eb48.606eb","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1397.8571348190308,"y":448.57140254974365,"wires":[],"l":false},{"id":"9281c8f5.aa17a","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1175.000075340271,"y":585.7143363952637,"wires":[],"l":false},{"id":"739d9a26.7ea6ec","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":675,"y":2860,"wires":[],"l":false},{"id":"751ac052.b7e588","type":"function","z":"fe346a7d.1d2088","name":"","func":"var data = flow.get(\"searchData\");\ningredients = data.ingredients.response;\ningredients = ingredients.slice(0, -1);\nmsg.payload = ingredients;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2435.714225769043,"y":2144.285842895508,"wires":[["d63c90b1.34c1"]]},{"id":"61bf24fa.8eb04c","type":"template","z":"fe346a7d.1d2088","name":"Query: depantry","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE FROM pantry WHERE USER_ID = {{payload.user_id}} AND ingredient_id in ({{{payload.INGREDIENT_ID}}});","output":"str","x":1260,"y":3020,"wires":[["a807d31b.a257f","54b5780.a8f3908"]]},{"id":"6f3bfc5b.5ec6fc","type":"function","z":"fe346a7d.1d2088","name":"","func":"var s = \"'\";\nmsg.payload.parsed = s + msg.payload.ingredients.join(\"', '\") + s;\nmsg.payload.count = msg.payload.ingredients.length;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":3020,"wires":[["ed9bccba.d48828"]]},{"id":"ed9bccba.d48828","type":"template","z":"fe346a7d.1d2088","name":"Query: grab ingredients","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select ingredient_id from ingredients where ingredient_name in ({{{payload.parsed}}}) group by ingredient_id having count(distinct ingredient_name) = {{payload.count}};","output":"str","x":710,"y":3020,"wires":[["59b37a44.5abb3c","47591aed.d68504"]]},{"id":"315195c5.d95912","type":"change","z":"fe346a7d.1d2088","name":"","rules":[{"t":"set","p":"user_id","pt":"flow","to":"payload.user_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":375,"y":3020,"wires":[["6f3bfc5b.5ec6fc"]],"l":false},{"id":"a696a867.d60808","type":"switch","z":"fe346a7d.1d2088","name":"Error Checking","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1640,"y":3020,"wires":[["221cae23.e6d3aa"],["a599164b.0f51c8"]]},{"id":"5e4b33ea.c283d4","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1055,"y":3100,"wires":[],"l":false},{"id":"47591aed.d68504","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":915,"y":3100,"wires":[],"l":false},{"id":"dfc8963.e4da1e8","type":"change","z":"fe346a7d.1d2088","name":"","rules":[{"t":"set","p":"payload.user_id","pt":"msg","to":"user_id","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1075,"y":3020,"wires":[["409cd973.fd6df8","61bf24fa.8eb04c"]],"l":false},{"id":"409cd973.fd6df8","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1175,"y":3100,"wires":[],"l":false},{"id":"54b5780.a8f3908","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1395,"y":3100,"wires":[],"l":false},{"id":"221cae23.e6d3aa","type":"template","z":"fe346a7d.1d2088","name":"Successful Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"response\": \"Removed from pantry\"}","output":"json","x":1900,"y":3020,"wires":[["89145738.8e4808"]]},{"id":"8b3c9c61.862d58","type":"change","z":"fe346a7d.1d2088","name":"","rules":[{"t":"set","p":"searchData","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":904.9999504089355,"y":517.1428155899048,"wires":[["db900085.1c2c78"]],"l":false},{"id":"bb1b8684.dd6248","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3522.857177734375,"y":1835.71435546875,"wires":[],"l":false},{"id":"49824be9.c06fd4","type":"function","z":"fe346a7d.1d2088","name":"","func":"msg1 = null;\nmsg2 = null;\nmsg3 = null;\nmsg4 = null;\n//from payload: userid, gluten dairy\n\nfunction vegan(user){\n    if(user.diet == \"vegan\"){\n        return true;\n    }\n    else{\n        return false;\n    }\n}\n\nfunction vegetarian(user){\n    if(user.diet == \"vegetarian\"){\n        return true;\n    }\n    else{\n        return false;\n    }\n}\n\nnode.log(\"testing\");\n\nvar data = flow.get(\"searchData\");\nvar user = flow.get(\"userData\");\nvar recipe = msg.payload;\n\nvar recipes = [];\n\nfor (i = 0; i < recipe.length; i++){\n    //dietary restrictions\n    if (vegan(data)) {\n        //vegan\n        if(recipe[i].VEGAN == 1){\n            recipes.push(recipe[i]);\n        }\n    }\n    else{\n        if (vegetarian(data)){\n            //vegetarian\n            if(recipe[i].VEGETARIAN == 1 || recipe[i].VEGAN == 1){\n                recipes.push(recipe[i]);\n            }\n        }\n        else{\n            //not vegetarian or vegan\n            recipes.push(recipe[i]);\n        }\n    }\n    \n}\n\n\nvar recipes2 = [];\n\nfor (i = 0; i < recipes.length; i++){\n    if(recipes[i].CUISINE == data.cuisine){\n        if(recipes[i].COURSE == data.meal_type){\n            recipes2.push(recipes[i]);\n        }\n        \n    }\n}\n\nmsg.payload = recipes2;\n\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1637.1429443359375,"y":515.7142944335938,"wires":[["645e72bf.4384f4","ebcfcff6.d11878"]]},{"id":"61901a90.909674","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1560,"y":447.1428527832031,"wires":[],"l":false},{"id":"ebcfcff6.d11878","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1745.71435546875,"y":440,"wires":[],"l":false},{"id":"3f3be715.e06ae","type":"debug","z":"fe346a7d.1d2088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2327.142822265625,"y":277.1428527832031,"wires":[],"l":false},{"id":"545eec9c.ed2734","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":1525,"y":2142,"wires":[["e97dc9f3.c1e9a","72e4f770.f08e4"]]},{"id":"ff7847fb.5b357","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":743.714111328125,"y":2144.28564453125,"wires":[["ccf4ecd0.2ab528","6cbef7cd.2d6b38"]]},{"id":"33cbe0a2.67333","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":2014.285659790039,"y":2144.285810470581,"wires":[["c1ee01ec.eb38a","380412a.4a7106e"]]},{"id":"73f035d4.5ed33c","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":2785.714225769043,"y":2144.285842895508,"wires":[["36dbbfe8.7338f","40b9c5c3.fab66c"]]},{"id":"23f9d71c.b9ca","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":750,"y":2300,"wires":[["2a31271c.a4a978"]]},{"id":"54e6ad2d.a6984c","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":950,"y":2620,"wires":[["2a82b8ad.3712d","d7523f7c.abf898"]]},{"id":"8d6730c2.128218","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":790,"y":2780,"wires":[["908b10c3.3e146","493716ec.17357"]]},{"id":"5730ad50.0ec00c","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":1470,"y":2620,"wires":[["ee235f32.d4e9b"]]},{"id":"389bbc21.fade74","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":1110,"y":820,"wires":[["7256ba1a.1b183c","9deb3632.505028"]]},{"id":"59b37a44.5abb3c","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":950,"y":3020,"wires":[["5e4b33ea.c283d4","dfc8963.e4da1e8"]]},{"id":"a807d31b.a257f","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":1470,"y":3020,"wires":[["a696a867.d60808"]]},{"id":"e428ab7f.350898","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":838.5714721679688,"y":1540,"wires":[["d6472517.75486"]]},{"id":"d90b8606.86cf58","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":1458.571434020996,"y":515.7142791748047,"wires":[["49824be9.c06fd4","61901a90.909674"]]},{"id":"8facb4e3.467238","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":1370,"y":380,"wires":[["75bf517f.8f49b8"]]},{"id":"80b326aa.1027a","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":1350,"y":200,"wires":[["7b1c83e5.d3cc4c"]]},{"id":"943c3130.23ce18","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":1190,"y":920,"wires":[["4afae283.2d6bec"]]},{"id":"2d40597f.4e937e","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":790,"y":1160,"wires":[["21080334.d0aa4c"]]},{"id":"83691fcb.da0f78","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":1390,"y":1160,"wires":[["c725ff19.21fd4"]]},{"id":"96535055.454068","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":790,"y":1360,"wires":[["d2ff8e9a.102458"]]},{"id":"c802f128.d8ecc","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":1410,"y":1340,"wires":[["75504273.b3163c"]]},{"id":"dbf33308.0466b","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":770,"y":1700,"wires":[["7a0b8b29.31fd5c"]]},{"id":"4bcb8691.d6359","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":770,"y":1780,"wires":[["713ba5e7.3c7dd4"]]},{"id":"5ea01cab.2e4bd4","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":870,"y":1900,"wires":[["5352a429.dd12f4"]]},{"id":"3e9a493f.4dd1de","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":750,"y":2420,"wires":[["a0c083bd.de5c9"]]},{"id":"8e7da9.a62a0a58","type":"Db2 in","z":"fe346a7d.1d2088","Db2":"de25e0a7.733a68","service":"_ext_","query":"","params":"","name":"","x":770,"y":2540,"wires":[["614a26cf.a5864"]]},{"id":"de25e0a7.733a68","type":"Db2","hostname":"dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":"Cookbot"}]